# flyctl launch added from .gitignore
**/node_modules
**/*.db
**/*.db-shm
**/*.db-wal
**/.env

# Elastic Beanstalk Files
**/.elasticbeanstalk/*
!**/.elasticbeanstalk/*.cfg.yml
!**/.elasticbeanstalk/*.global.yml
fly.toml
